In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("data.csv", header=0)

In [4]:
df = data.filter(regex="result.*")

In [9]:
df.head()

,resultType113,resultType201,resultType202,resultType203,resultType204,resultType205,resultType0,resultType1,resultType2,resultType3,...,resultType105,resultType106,resultType107,resultType108,resultType109,resultType110,resultType111,resultType112,resultWordLength,resultOrder
0,1.411422,0.093767,0.000000,0.000000,0.084838,0.001153,NaN,NaN,0.000000,8.628040,...,0.330966,1.003566,1.291720,0.263650,1.152872,0.906684,1.716190,0.536050,0.429617,1.462794
1,1.695312,0.186597,0.000000,0.000000,0.070555,0.015495,NaN,NaN,0.000000,inf,...,0.239194,1.191172,1.768319,0.184986,1.414654,1.071478,2.308161,0.726404,0.358491,1.118584
2,1.386924,0.319396,0.000000,0.000000,0.136097,0.072847,NaN,NaN,0.000000,1.720659,...,0.259532,1.172049,1.567487,0.212679,1.003711,1.028185,2.410673,0.600406,0.424418,1.268276
3,0.737545,1.586991,0.447124,0.655781,0.493754,0.310503,NaN,NaN,0.819727,0.409863,...,0.490869,0.556094,0.794341,0.845504,0.535533,0.520614,1.231020,0.307004,0.982864,1.940453
4,0.490547,3.075137,0.014269,0.428075,0.151085,0.160699,NaN,NaN,0.642113,1.783647,...,0.660398,0.488156,0.539405,1.218995,0.458162,0.356586,1.193350,0.249413,1.002371,1.630929

In [7]:
df2 = np.log(df)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

In [10]:
df2.head()

,resultType113,resultType201,resultType202,resultType203,resultType204,resultType205,resultType0,resultType1,resultType2,resultType3,...,resultType105,resultType106,resultType107,resultType108,resultType109,resultType110,resultType111,resultType112,resultWordLength,resultOrder
0,0.344598,-2.366944,-inf,-inf,-2.467010,-6.765078,NaN,NaN,-inf,2.155017,...,-1.105739,0.003560,0.255975,-1.333132,0.142256,-0.097962,0.540107,-0.623528,-0.844862,0.380348
1,0.527867,-1.678803,-inf,-inf,-2.651356,-4.167216,NaN,NaN,-inf,inf,...,-1.430479,0.174938,0.570029,-1.687473,0.346885,0.069039,0.836451,-0.319649,-1.025852,0.112063
2,0.327088,-1.141325,-inf,-inf,-1.994385,-2.619397,NaN,NaN,-inf,0.542707,...,-1.348876,0.158753,0.449474,-1.547970,0.003705,0.027795,0.879906,-0.510150,-0.857038,0.237658
3,-0.304429,0.461840,-0.804920,-0.421928,-0.705719,-1.169563,NaN,NaN,-0.198784,-0.891931,...,-0.711578,-0.586818,-0.230242,-0.167822,-0.624492,-0.652746,0.207843,-1.180895,-0.017284,0.662922
4,-0.712234,1.123349,-4.249654,-0.848456,-1.889910,-1.828221,NaN,NaN,-0.442991,0.578660,...,-0.414913,-0.717121,-0.617288,0.198027,-0.780533,-1.031179,0.176765,-1.388645,0.002368,0.489150

In [ ]:
df2