In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("result.csv")

In [3]:
data.head()

,bikeNo,createDate,userGuid,faultType,desWordLen,hasOrderId,userRideCount,userRideTime,userIssueFaultCount,userConfirmedIssueFaultCount,...,recent1DayIssueFaultUserCount,recent1DayIssueFaultTypeCount,typefixResult,bikefixResult,maintUserGuid,maintUserName,updateDate,inputType,distance,fixResult
0,2100000064,20180331104334,a6cf99692e1945519b335510cd57ef28,111,0,1,3,921000,0,0,...,1,1,1,1,d673f48c7eb74a13b55443333d0e6b51,上海奉贤运维刘宇,2.018033e+13,2.0,3045.919635,1.0
1,2100000070,20180331161752,3a888b7ff5994ec29c2c355416895c3a,112,0,1,1,3866000,0,0,...,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2100000094,20180316115546,7c06f81ca312407f8b1e5b1f9a3342f6,106,0,1,0,0,0,0,...,1,1,1,1,69a1c504e88d41238c04022f96034888,闵行定点刘哲,2.018033e+13,1.0,22.697366,1.0
3,2100000110,20180315154604,987be31d982c4850a9b503d054c73a62,109,0,0,10,3149000,0,0,...,1,1,1,1,d673f48c7eb74a13b55443333d0e6b51,上海奉贤运维刘宇,2.018032e+13,1.0,37.852437,1.0
4,2100000208,20180331152134,bb7f976e6a4c4226ae923c13800aca11,104,0,1,1,1241000,0,0,...,1,1,1,1,d673f48c7eb74a13b55443333d0e6b51,上海奉贤运维刘宇,2.018040e+13,1.0,7.831931,1.0

In [3]:
# df = data.filter(regex="faultType|desWordLen|hasOrderId|user.*|all.*|rencent7Day.*|afterFault3Hour.*|idleHour|serveDay|recent1DayIssueFaultUserCount|recent1DayIssueFaultTypeCount|bikefixResult")

In [12]:
df = data.drop(["bikeNo", "createDate", "typefixResult", "userGuid", "userHasMonthCard", "maintUserGuid", "maintUserName", "fixResult", "updateDate"], axis=1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839605 entries, 0 to 839604
Data columns (total 61 columns):
faultType                          839605 non-null int64
desWordLen                         839605 non-null int64
hasOrderId                         839605 non-null int64
userRideCount                      839605 non-null int64
userRideTime                       839605 non-null int64
userIssueFaultCount                839605 non-null int64
userConfirmedIssueFaultCount       839605 non-null int64
allAverageRideTime                 839605 non-null int64
allAverageRideDistance             839605 non-null int64
allRideCount                       839605 non-null int64
allAverateRideSpeed                839605 non-null float64
recent1DayRideCount                839605 non-null int64
recent1DayAverageRideTime          839605 non-null int64
recent1DayAverageDistance          839605 non-null int64
recent1DayRideSpeed                839605 non-null float64
recent3DayRideCount                839605 non-null int64
recent3DayAverageRideTime          839605 non-null int64
recent3DayAverageDistance          839605 non-null int64
recent3DayRideSpeed                839605 non-null float64
recent5DayRideCount                839605 non-null int64
 rencent5DayAverageRideTime        839605 non-null int64
recent5DayAverageDistance          839605 non-null int64
recent5DayRideSpeed                839605 non-null float64
recent7DayRideCount                839605 non-null int64
rencent7DayAverageRideTime         839605 non-null int64
recent7DayAverageDistance          839605 non-null int64
recent7DayRideSpeedidleHour        839605 non-null float64
idleHour                           839605 non-null int64
serveDay                           839605 non-null int64
afterFault1HourRideCount           839605 non-null int64
afterFault1HourAveTime             839605 non-null int64
afterFault1HourAveRideDistance     839605 non-null int64
afterFault1HourAveRideSpeed        839605 non-null float64
afterFault2HourRideCount           839605 non-null int64
afterFault2HouraveTime             839605 non-null int64
afterFault2HourAveRideDistance     839605 non-null int64
afterFault2HourAveRideSpeed        839605 non-null float64
afterFault3HourRideCount           839605 non-null int64
afterFault3HouraveTime             839605 non-null int64
afterFault3HourAveRideDistance     839605 non-null int64
afterFault3HourAveRideSpeed        839605 non-null float64
afterFault6HourRideCount           839605 non-null int64
afterFault6HouraveTime             839605 non-null int64
afterFault6HourAveRideDistance     839605 non-null int64
afterFault6HourAveRideSpeed        839605 non-null float64
afterFault12HourRideCount          839605 non-null int64
afterFault12HouraveTime            839605 non-null int64
afterFault12HourAveRideDistance    839605 non-null int64
afterFault12HourAveRideSpeed       839605 non-null float64
afterFault24HourRideCount          839605 non-null int64
afterFault24HouraveTime            839605 non-null int64
afterFault24HourAveRideDistance    839605 non-null int64
afterFault24HourAveRideSpeed       839605 non-null float64
reportFaultCount                   839605 non-null int64
correctFaultCount                  839605 non-null int64
processingFaultCount               839605 non-null int64
recent1DayIssueFaultUserCount      839605 non-null int64
recent1DayIssueFaultTypeCount      839605 non-null int64
bikefixResult                      839605 non-null int64
inputType                          534935 non-null float64
distance                           534935 non-null float64
dtypes: float64(13), int64(48)
memory usage: 390.7 MB

In [15]:
y = df.pop("bikefixResult")

In [18]:
X = df.as_matrix()
y = y.as_matrix()

In [19]:
X.shape

(839605, 60)

In [20]:
y.shape

(839605,)

In [21]:
X_train = X[:600000, :]
X_test = X[600000:, :]
y_train = y[:600000]
y_test = y[600000:]

In [24]:
y_test.shape

(239605,)

In [ ]:
from xgboost import XGBClassifier
parms = [5, 6, 8]
for parm in parms:    
    clf = XGBClassifier(max_depth=7, learning_rate=0.14)
    clf.fit(X_train, y_train.ravel())
    y_pred = clf.predict(X_test)
    d1 = pd.DataFrame(y_test, columns=["test"])
    d2 = pd.DataFrame(y_pred, columns=["pred"])
    d = pd.concat([d1, d2], axis=1)
    count1 = d[d.pred == d.test].shape[0]
    count = d.shape[0]
    print(count1/count)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.7787441831347426

In [64]:
d1 = pd.DataFrame(y_test, columns=["train"])
d2 = pd.DataFrame(y_pred, columns=["pred"])
d = pd.concat([d1, d2], axis=1)

In [65]:
d["t"] = d.train - d.pred

In [30]:
count = 0

for i in range(0, 239605):
    df = d.iloc[i:i+1]
    if list(df.t)[0] == -1:
        count += 1
print(count/239605)

0.13239707017800129

In [69]:
d[(d.pred == 0) & (d.train == 1)]

        train  pred  t
6           1     0  1
11          1     0  1
22          1     0  1
24          1     0  1
45          1     0  1
46          1     0  1
47          1     0  1
65          1     0  1
97          1     0  1
106         1     0  1
112         1     0  1
131         1     0  1
133         1     0  1
140         1     0  1
149         1     0  1
156         1     0  1
162         1     0  1
163         1     0  1
164         1     0  1
167         1     0  1
171         1     0  1
203         1     0  1
204         1     0  1
207         1     0  1
215         1     0  1
222         1     0  1
231         1     0  1
258         1     0  1
260         1     0  1
262         1     0  1
...       ...   ... ..
238935      1     0  1
238957      1     0  1
238966      1     0  1
238971      1     0  1
238973      1     0  1
238975      1     0  1
238985      1     0  1
239002      1     0  1
239110      1     0  1
239126      1     0  1
239139      1     0  1
239161      1     0  1
239173      1     0  1
239180      1     0  1
239196      1     0  1
239197      1     0  1
239226      1     0  1
239362      1     0  1
239380      1     0  1
239382      1     0  1
239404      1     0  1
239417      1     0  1
239448      1     0  1
239450      1     0  1
239486      1     0  1
239495      1     0  1
239540      1     0  1
239583      1     0  1
239594      1     0  1
239596      1     0  1

[21527 rows x 3 columns]

In [35]:
132877/(132877+31723)

0.8072721749696233

In [43]:
(326683+230978)/(326683+230978+24383+17956)

0.929435

In [52]:
(294586+194073)/(294586+194073+61288+50053)

0.8144316666666667

In [61]:
(133491+53180)/(133491+53180+31281+21653)

0.779078065983598

In [70]:
(133617+52991)/(133617+52991+31470+21527)

0.7788151332401244

In [75]:
for i in range(3, 10, 2):
    print(i)

3
5
7
9